@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background:
    "radial-gradient(circle, #041603 0%, #041603 9%, #000000 100%)",
    --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* background: #00071b; */
  scroll-behavior: auto !important;
  background: rgb(0, 0, 0);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
